*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background: #fff;
    border: 0;
    padding-left: 26px;
    padding-top: 21px;
    padding-right: 25px;
    padding-bottom: 20px;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
}
.hero-button{
    padding-left: 700px;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    background-size: cover;
}
.hero-text{
    padding-top: 216px;
    padding-left: 845px;
    margin-right: 230px;
    color: #fff;
}
.hero-text h1{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}
.hero-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* My failures of previous year */
.failures{
    display: flex;
    gap: 87px;
    padding-top: 131px;
    padding-left: 206px;
    padding-right: 322px;
    padding-bottom: 130px;
}
.failure-content h1{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 200px;
    margin-bottom: 24px;
}
.failure-description{
    line-height: 26px;
    color: #444343;
    font-size: 18px;
    margin-bottom: 16px;
}
.failure-list{
    margin-bottom: 8px;
    line-height: 26px;
    color: #444343;
}
.failure-list i{
    color: #16D887;
}
/* My Plans */
.my-plans{
    text-align: center;
}
.my-plans-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 50px;
}
.my-plans-list{
    display: flex;
    gap: 86px;
    padding-left: 300px;
    padding-right: 230px;
    padding-bottom: 130px;
}
.plans h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
    color: #151414;
}
.plans p{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}
/* Call Now */
.call-now{
    padding-left: 400px;
    padding-right: 230px;
    margin-bottom: 130px;
}
.container{
    position: relative;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
}
.container-img{
    display: block;
}
.container-content{
    position: absolute;
    left: 80px;
    top: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #fff;
}
.container-btn{
    position: absolute;
}
.btn-call-now{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background: #fff;
    border: 0;
    padding-left: 26px;
    padding-top: 21px;
    padding-right: 25px;
    padding-bottom: 20px;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    margin-top: 30px;
}
.contact{
    display: flex;
    gap: 330px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 130px;
    padding-top: 130px;
    background: #151414;
    color: #fff;
}
.contact-content h1{
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}
.contact-description{
    padding-bottom: 24px;
    line-height: 26px;
    font-size: 18px;
}
.contact-mail-add{
    padding-bottom: 20px;
    height: 26px;
}
.contact-phn-num{
    padding-bottom: 50px;
    height: 26px;
}
.contact-subscription h1{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    padding-bottom: 31px;
}
.social-links{
    margin-right: 20px;
}
.fb-link{
    padding-right: 16px;
}
.yt-link{
    padding-left: 16px;
}
#email{
    padding: 25px;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 325px;
    height: 64px;
    background-color: #151414;
    color: #fff;
}
.subs-btn{
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background: #005FAC;
    border: 0;
    padding-left: 26px;
    padding-top: 21px;
    padding-right: 25px;
    padding-bottom: 20px;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
}